/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.fail {
color:red;
}

.instruc {
    color: darkgray;
}

.task-list {
    background-color: rgba(255, 208, 0, 0.535);
    font-style: italic;
    border-radius: 10px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.table-row {
    border-bottom: 2px solid lightseagreen;
}

.table-head {
    border-bottom: 3px solid rgb(0, 140, 255);
}

.page-button {
    background-color: rgb(241, 177, 100);
    border-radius: 8px;
}

.add-task-container {
    width:auto;
    margin-left: 10%;
    margin-right:10%;
    border: 1px solid black;
    border-radius: 10px;
}

.form-body {
    border-top: 1px solid rgb(63, 56, 56);
    border-bottom: 1px solid rgb(63, 56, 56);
}